/* Core section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: #F2F2F2; */
    font-family: 'Manrope', sans-serif;
}

.to-uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 1130px;
    padding: 0 20px;
    margin: 0 auto;
}


a {
    display: inline-block;
    text-decoration: none;
}

.link {
    margin-top: 30px;
    background: linear-gradient(to right, #FBAF85 0%, #ed239f 51%, #FBAF85 100%);
    background-size: 200% auto;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 38px;
    transition: all 0.4s ease-in-out;
}

.link:hover {
    background-position: right center;
}

/* Navigation section */

.navigation {
    background: #191919;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navigation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-items {
    display: flex;
    gap: 34px;
}

.navigation-item.active .nav-link {
    color: #D87D4A;
}

.nav-link {
    padding: 20px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}

.nav-link:hover {
    color: #D87D4A;
    transform: scale(1.1, 1.1);
}

.line {
    /* margin-top: 36px; */
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.navigation-item {
    position: relative;
}



.innernavigation-items {
    position: absolute;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 0 3px 2px #123;
    opacity: 0;
    z-index: -1;
}

.navigation-item:hover .innernavigation-items {
    opacity: 1;
    z-index: 1;
}

.innernav-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #4b3939;
    transition: all 0.4s ease-in-out;
}

.innernav-link:hover {
    color: #D87D4A;
    transform: scale(1.1, 1.1);
}

.navigation-basket {
    transition: all 0.4s ease-in-out;
}

.navigation-basket:hover {
    transform: scale(1.1, 1.1);
}

/* Main section */

.main {
    padding-top: 100px;
}

.main__link{
    font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #000000;
margin-bottom: 56px;
mix-blend-mode: normal;
opacity: 0.5;
}

.main__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__head-image{
    background: #F1F1F1;
border-radius: 8px;
padding: 100px 95px;
overflow: hidden;
}

.main__head-image img{
    transition: all 0.7s ease-in-out;
}

.main__head-image:hover img {
    transform: scale(1.2,1.2);
}

.main__info-intro{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #D87D4A;
    margin-bottom: 16px;
}

.main__info-name{
    font-weight: 700;
font-size: 40px;
line-height: 44px;
letter-spacing: 1.42857px;
color: #000000;
margin-bottom: 32px;
max-width: 445px;
}

.main__info-description{
    font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #000000;
mix-blend-mode: normal;
opacity: 0.5;
margin-bottom: 32px;
max-width: 445px;
}

.main__info-cost{
    font-weight: 700;
font-size: 18px;
line-height: 25px;
letter-spacing: 1.28571px;
color: #000000;
margin-bottom: 47px;
}

/* Features section  */

.features{
    padding-top: 160px;
}

.features__infos{
    display: flex;
    justify-content: space-between;
}


.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    color: #000000;
}

.features__info1-description{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 32px;
    mix-blend-mode: normal;
    opacity: 0.5; 
    max-width: 635px;
}

.features__info2-function{
    font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #000000;
mix-blend-mode: normal;
opacity: 0.5;
}

.features__info2-title{
    margin-bottom: 32px;
}

.features__info2-function:not(:last-child){
    margin-bottom: 8px;
}

.number{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #D87D4A;
    margin-right: 24px; 
}

/* Commercial sdection */

.commercial{
    padding-top: 160px;
}

.commercial__images{
    display: flex;
    justify-content: space-between;
}

.image-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commercial__image{
   overflow: hidden;
}

.commercial__image img{
    transition: all 0.7s ease-in-out;
}

.commercial__image:hover img{
    transform: scale(1.1,1.1);
}

/* Products section */

.products {
    padding-top: 160px;
}

.products__types{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-template-areas: 318px;
    column-gap: 30px;
}

.products__type{
    text-align: center;
}

.products__title{
    font-weight: 700;
font-size: 32px;
line-height: 36px;
letter-spacing: 1.14286px;
color: #000000;
text-align: center;
margin-bottom: 64px;
}

.products__type-image{
  padding: 62px 90px;  
background: #F1F1F1;
border-radius: 8px;
overflow: hidden;
margin-bottom: 40px;
}

.products__type-image img{
    transition: all 0.7s ease-in-out;
    width: 192px;
    height: 199px;
}

.products__type-image:hover img{
    transform: scale(1.1,1.1);
}

.products__type-name{
    font-weight: 700;
font-size: 24px;
line-height: 33px;
text-align: center;
letter-spacing: 1.71429px;
color: #000000;
margin-bottom: 32px;
}

.products__type-link{
    font-weight: 700;
font-size: 13px;
line-height: 18px;
letter-spacing: 1px;
color: #FFFFFF;
}

/* Example section */

.example {
    padding-top: 160px;
}

.example-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.example-card {
    position: relative;
    background: #F1F1F1;
    padding: 0 108px;
    transition: all 0.7s ease-in-out;
    text-align: center;
}

.example-card:hover {
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 /30%);
    transform: scale(1.1, 1.1);
}


.example-image {
    position: absolute;
    top: -70px;
    overflow: hidden;

}

.example-image img {
    transition: all 0.7s ease-in-out;

}

.example-image:hover img {
    transform: scale(1.1, 1.1);
}



.example-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.28571px;
    color: #000000;
    margin-top: 150px;
}

.example-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #D87D4A;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Information section */

.information {
    padding: 200px 0;
}

.information-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-intro {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    width: 445px;
    letter-spacing: 1.42857px;
    color: #000000;
    margin-bottom: 32px;
}

span {
    color:
        rgba(216, 125, 74, 1);
}

.information-description {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    max-width: 445px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.information-image {
    overflow: hidden;
}

.information-image img {
    transition: all 0.7s ease-in-out;
}

.information-image:hover img {
    transform: scale(1.1, 1.1);
}

/* Footer section */

.footer {
    background: #101010;
    padding: 48px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.footer__descripntion {
    max-width: 540px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 36px;
}

.footer__info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info2--description {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer__info2--social {
    color: #fff;
    transition: all 0.7s ease-in-out;
}

.footer__info2--social:hover {
    transform: rotate(360deg);
}

.footer__info2--socials {
    display: flex;
    column-gap: 20px;
}
